.clickable {
    transition: transform 0.01s ease;
}

.clickable:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.writable:hover {
    cursor: text;
}

.selected {
    background-color: lightcoral;
}

.blurred {
    filter: blur(5px);
}

.warning {
    background-color: lightcoral;
}

.inline {
    display: inline;
}

.overflow-auto {
    overflow: auto;
}

.overflow-visible {
    overflow: visible;
}

.shrinkable {
    flex-shrink: 1;
    min-width: 0;
}

.unshrinkable {
    flex-shrink: 0;
    min-width: fit-content;
}

.justify-right {
    right: 0;
}
