Deployment/venv
**/__pycache__
**.db
Backend/Content_pages/**/src
Deployment/SSL_cert/*
Backend/cloudflare_ips.json
Log/*
Frontend/Landing_page/index_live.html
Backend/nginx_config_live
Frontend/Content_pages/spbmap/protocol.html
