#home_tab {
    background-color: lightcoral;
}

#tab_area {
    min-height: 0px;
    flex-shrink: 1;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#signin_info, #signin_area, #signup_area, #fruits_log {
    flex-shrink: 0;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    background-color: lightskyblue;
}

#input_area {
    min-height: 0px;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: row;
}

#signin_area, #signup_area {
    flex-grow: 1;
}

#fruits_log {
    flex-grow: 1;
}