#chess_ai_tab {
    background-color: lightcoral;
}

#header {
    flex-shrink: 0;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    background-color: lightskyblue;
}

#tab_area {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#input_area {
    flex-shrink: 0;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    background-color: lightskyblue;
    overflow:scroll;
    font-family: monospace, monospace;
}

#chess_ai {
    flex-grow: 1;
    border-style: solid;
    margin: 5px;
    background-color: antiquewhite;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

#gameover_msg {
    padding: 5px;
}

.chess_tile_row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.light_tile, .dark_tile {
    width: 100px;
    flex-grow: 1;
    font-size: 30px;
    text-align: center;
}
.light_tile {
    background-color: lightskyblue;
}
.dark_tile {
    background-color: #0a9bf5;
}
.selected_tile.light_tile {
    background-color: #ffec80;
}
.selected_tile.dark_tile {
    background-color: #ffd900;
}
.targeted_tile.dark_tile {
    background-color: limegreen;
}
.targeted_tile.light_tile {
    background-color: #98e698;
}
