.container--chess_board {
    padding: 0px;
    background-color: antiquewhite;
    overflow: scroll;
}

.container--chess_tile {
    border-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-radius: 0px;
    padding: 0px;
    font-size: 45px;
    justify-content: center;
    align-items: center;
}

.chess_tile_row {
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.light_tile, .dark_tile {
    font-size: 45px;
    text-align: center;
}
.light_tile {
    background-color: lightskyblue;
}
.dark_tile {
    background-color: #0a9bf5;
}
.selected_tile.light_tile {
    background-color: #ffec80;
}
.selected_tile.dark_tile {
    background-color: #ffd900;
}
.targeted_tile.dark_tile {
    background-color: limegreen;
}
.targeted_tile.light_tile {
    background-color: #98e698;
}
