#signup_tab {
    background-color: lightcoral;
}

#tab_area {
    min-height: 0px;
    flex-shrink: 1;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#input_area, #fruits_log {
    flex-shrink: 0;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    background-color: lightskyblue;
}

#fruits_log {
    flex-grow: 1;
    overflow: scroll;
}
