#signup_tab {
    background-color: lightcoral;
}

#tab_area {
    min-height: 0px;
    flex-shrink: 1;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#input_area, #sent, #received, #fruits_log {
    flex-shrink: 0;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    background-color: lightskyblue;
}

#debug {
    min-height: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sent, #received {
    flex-grow: 1;
    min-width: 100px;
    overflow: scroll;
}
