* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow: hidden;
}

#status_msg {
    flex-shrink: 0;
    border-style: solid;
    padding: 5px;
    margin: 5px;
}

#tabs {
    flex-shrink: 0;
    display: flex;
    flex-flow: row;
}

#signout_button, #about_tab, #home_tab, #ssl_certs_tab, #chess_ai_tab, #network_simulator_tab {
    flex-grow: 1;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    min-width: 0px;
    overflow: hidden;
    background-color: antiquewhite;
}

#about_tab, #home_tab {
    flex-shrink: 0;
}

#tab_content {
    min-height: 0px;
    flex-shrink: 1;
    flex-grow: 1;
}
